<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <% for (var i = 0; i < users.length; i++) { %>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= users[i].name %></h3>
              <p><%= users[i].email %></p>
              <p>$<%= users[i].role %></p>
            </div>
          </div>
        </div>
        <% } %>
      </div>

      <% if (pages > 0) { %>
      <ul class="pagination text-center">
        <% if (current == 1) { %>
        <li class="disabled"><a>First</a></li>
        <% } else { %>
        <li><a href="/users/?page=1">First</a></li>
        <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
        if (i !== 1) { %>
        <li class="disabled"><a>...</a></li>
        <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <%
        if (i == current) { %>
        <li class="active"><a><%= i %></a></li>
        <% } else { %>
        <li><a href="/users/?page=<%= i %>"><%= i %></a></li>
        <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
        <% } %> <% } %> <% if (current == pages) { %>
        <li class="disabled"><a>Last</a></li>
        <% } else { %>
        <li><a href="/users/?page=<%= pages %>">Last</a></li>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
